.btn-login {
    cursor: pointer;
  border: 0;
  padding: 8px;
  font-size: 18px;
}

.btn-login:hover {
    background-color: #e5e5e5;
    transition: .3s;
}

.btn-login:active {
    background-color: #c3c3c3;
    transition: .3s;
}
